body {
    background-color: #F5F5F5; 
}

.radix-site-nav {
  color: rgba(0, 0, 0, 0.7);
  background-color: #F5F5F5;
  font-size: 15px;
  font-weight: 500;
}

.radix-site-nav a {
  color: inherit;
  text-decoration: none;
}

.radix-site-nav a:hover {
  color: black;
}

.radix-site-header {
}

.radix-site-footer {
  font-size: 10px;
  margin: 0 0;
  padding: 0 0;
}

@media print {
  .radix-site-nav {
    display: none;
  }
}

d-title {
  width: 100%;
  padding-top: 6rem;
  background-image: url("images/header.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: 'Bungee Shade', cursive; 
}

.headers {
  padding-top: 2rem;
  font-family: 'Bungee Shade', cursive;
}

.card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    margin: 16px 16px;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.container-buffer {
  padding-top: 28px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-group {
  color: #4682B4;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  padding: 4px 4px;
}

.card-header {
  font-size: 24px;
  padding: 4px 4px;
}

.card-header:hover{
  transform:scale(1)
}

.card-time {
  padding: 4px 4px;
}

 tr {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration-line: none;
}

fa-row {
  padding-left: 0;
}

ul.network-icon{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding: 4px 4px;
  margin-top: 4px;
  margin-left: 0;
}

.network-icon li{
  padding-right:16px; 
  margin-bottom: 6px;
}

.network-icon li:last-of-type{
  padding-right:0
}

.network-icon li:hover{
  transform:scale(1.4)
}

.network-icon a {
    text-decoration: none!important;
}

.fa-row-name {
  font-size: 20px;
  font-weight: 500;
  padding: 2px 24px 2px 2px;
}