name: Render and Deploy socalr.org
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  schedule:
    - cron:  '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Install libsodium
        run: sudo apt-get install -y libsodium-dev

      # - name: Pull Request
      #   uses: r-lib/actions/pr-fetch@v2
      #   with:
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Quarto CLI
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.2.280

      - name: Setup R 
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.2'
          use-public-rspm: true
      
      - name: Setup renv
        uses: r-lib/actions/setup-renv@v2

      - name: Fetch Events from Meetup
        run: source(here::here("helpers", "meetup_events.R"))
        env:
          MEETUPR_PWD: ${{ secrets.MEETUPR_PWD }}
        shell: Rscript {0}

      - name: Render and Publish to Netlify
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: netlify
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      # - name: Push Changes to Master
      #   uses: r-lib/actions/pr-push@v2
      #   with:
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}
